<ApiErrorCodes>
  <ErrorCodes>
    <!-- Generic Repository Errors-->
    <ErrorCode code="VALIDATION_ERRORS" httpStatus="400"/>
    <ErrorCode code="UNKNOWN_DICTIONARY_KEY" httpStatus="500"/>

    <!-- Generic Graph Errors-->
    <ErrorCode code="GRAPH_UNAUTHORIZED" httpStatus="401"/>
    <ErrorCode code="GRAPH_NOT_FOUND" httpStatus="500"/>
    <ErrorCode code="GRAPH_UNKNOWN_ERROR" httpStatus="500"/>
    <!--Graph not properly connected-->


    <!--Create Source / Create Product-->
    <ErrorCode code="LABEL_IS_MANDATORY" httpStatus="400"/>
    <ErrorCode code="UNEXISTING_PRODUCT_REF" httpStatus="404"/>
    <ErrorCode code="UNEXISTING_FACILITY" httpStatus="404"/>
    <ErrorCode code="GRAPH_FACILITY_NOT_FOUND" httpStatus="404"/>
    <ErrorCode code="GRAPH_PRODUCT_REFERENCE_NOT_FOUND" httpStatus="404"/>
    <ErrorCode code="GRAPH_ERROR_WHILE_RETRIEVING_REPO_DATA" httpStatus="404"/>
    <ErrorCode code="GRAPH_ERROR_FACILITY_NEEDS_ACTIVITIES" httpStatus="400"/>
    <ErrorCode code="GRAPH_START_DATE_AFTER_END_DATE" httpStatus="400"/>
    <ErrorCode code="GRAPH_PRODUCT_ALREADY_EXISTS" httpStatus="400"/>
    <ErrorCode code="GRAPH_ERROR_SOURCE_ALREADY_EXISTS" httpStatus="400"/>
    <ErrorCode code="GRAPH_PRODUCT_REFERENCE_NOT_PRODUCED_BY_TENANT" httpStatus="400"/>


    <!--Create Source / Create Product-->
    <ErrorCode code="START_DATE_AFTER_END_DATE" httpStatus="400"/>


    <!--<ErrorCode code="GRAPH_ERROR_SOURCE_ALREADY_EXISTS" httpStatus="409" />-->
    <!--<ErrorCode code="GRAPH_ERROR_PRODUCT_ALREADY_EXISTS" httpStatus="409" />-->

    <!--Create Facility-->
    <ErrorCode code="DUPLICATE_FACILITY" httpStatus="400"/>

    <!--Create Company-->
    <ErrorCode code="DUPLICATE_COMPANY" httpStatus="400"/>
    <!-- Get Product Ref Details-->
    <ErrorCode code="PRODUCT_REF_NOT_FOUND" httpStatus="404"/>

    <!-- Get Facility Details-->
    <ErrorCode code="FACILITY_NOT_FOUND" httpStatus="404"/>

    <!--Get Source Details-->
    <ErrorCode code="UNKNOWN_SOURCE" httpStatus="404"/>

    <!--Create Component-->
    <ErrorCode code="PRODUCT_VERSION_NOT_FOUND" httpStatus="404"/>
    <ErrorCode code="BAD_COMPONENTS_FORMAT" httpStatus="400"/>
    <ErrorCode code="COMPONENT_NOT_FOUND" httpStatus="404"/>

    <!--Link sources to a component-->
    <ErrorCode code="BAD_SOURCES_FORMAT" httpStatus="400"/>

    <!--Send Visibility Request-->
    <ErrorCode code="GRAPH_SOURCE_NOT_FOUND" httpStatus="404" />
    <ErrorCode code="GRAPH_PRODUCT_VERSION_NOT_FOUND" httpStatus="404" />
    <ErrorCode code="GRAPH_SOURCE_ALREADY_LINKED" httpStatus="400" />
    <ErrorCode code="REQUEST_NOT_FOUND" httpStatus="404" />
    <ErrorCode code="UNRECOGNIZED_VISIBILITY_LEVEL" httpStatus="400" />
    <ErrorCode code="DUPLICATE_CONTACT_EMAIL" httpStatus="400" />
	<ErrorCode code="GRAPH_SOURCE_FROM_SAME_TENANT" httpStatus ="400" />

    <!--Generic-->
    <ErrorCode code="BAD_FORMAT" httpStatus="400"/>
    <ErrorCode code="UNHANDLED_ERROR" httpStatus="500"/>
    <ErrorCode code="GRAPH_UNHANDLED_ERROR" httpStatus="500"/>

    <!--Mirror Source Not Found-->
    <ErrorCode code="MIRROR_SOURCE_NOT_FOUND" httpStatus="404"/>

    <ErrorCode code="BAD_REQUEST_FORMAT" httpStatus="400"/>
    <ErrorCode code="INVALID_DESCRIPTOR" httpStatus="400"/>
    <ErrorCode code="START_DATE_AFTER_END_DATE" httpStatus="400"/>
    <ErrorCode code="UNAUTHORIZED" httpStatus="401"/>
  </ErrorCodes>
</ApiErrorCodes>
